#cardTitle {
    background-color: #47B5FF !important;
    text-align: center !important;
    
}
.card-body {
    background-color: #DFF6FF !important;
    height: 100% !important;
}
.card {
    margin-bottom: 10px;
    border: none !important;
    margin: 10px;
    background-color: white;
    height: 100% !important;
}
.card-text {
    background-color: #DFF6FF !important;
}
 .card-group {
   height: 100%;
}
#rowButtons{
   padding: 0;
   margin: 0;
}