#concursoTitle {
    background-color: #47B5FF !important;
    text-align: center !important;
    
}
#body-concurso {
    background-color: #DFF6FF !important;
    height: 100% !important;
}

#card-concurso {
    margin-bottom: 10px;
    border: none !important;
    margin: 10px;
    background-color: white;
    height: 100% !important;
}
#concurso-text {
    background-color: #DFF6FF !important;
}
#concurso-group {
   height: 100%;
}
#concursoButtons{
   padding: 0;
   margin: 0;
}